/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oooh+Baby&family=The+Girl+Next+Door&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oooh+Baby&family=The+Girl+Next+Door&display=swap');

/*permet d'aligner les container*/
* {
    box-sizing: border-box;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

}


.container {
    position:absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(./Images/routier.jpg) center  no-repeat fixed;
}
/*creer un filtre sur l'image de font*/
/*.container::after {
    position: absolute;
    z-index: inherit;
    top: 0;
    left: 0;

    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(34,34,34, 0.205);
}*/

.formcontainer {
    position:absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 200px;
    height: 85%;
    min-width: 510px;
    background-color: #eee;
    box-shadow: 7px 4px 19px -2px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-wrap:nowrap;

}
/*
.sliderSection {
    position: relative;
    width: 50%;
    height: 100%;
}

.sliderSection img {
   width: 50%;
   height: 50%;
}

.sliderSection .progression {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.progression i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: white;
}

.progression i:first-child {
background-color: rgb(37,107,212);
}
*/
.formSection {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 80px 10px 80px;

    font-family: cambria;
}

.formSection > * {
    margin:10% 0;
}

.formSection h1 {
    font-family:'The Girl Next Door', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.formSection h4 {
    text-align: center;
    margin: 20px 0;
}

.inputRow {
    width: 100%;
    height: 40px;

    display:flex;
    background-color: white;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 100px;
    overflow: hidden;

}

.inputRow .inputIcon {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.inputRow input {
    width: 85%;
    padding: 2px 5px;
    border: none;
    outline: none;
    border-left: 1px solid rgba(34,34,34, 0.116);

    font-style: italic;
    font-size: 17px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.btnRow {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 5px 8px;

    min-width: max-content;
    min-height: max-content;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family:"cambria";
    cursor:pointer;

    transition: all ease-in-out 250ms;

}

.btn:hover { /*parametre lorque survole le boutton */
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.75); 
}

.btnGroup {
    width: 45%; /*largeur de 45%*/
    justify-content: left;
    color: black;

    padding: 5px 8px;
    padding-left: 1.2em;
    font-size: 16px;
    border: 1px solid black;
}
.btnGroup img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    }

/*footer h6 {
    text-align:center;
    margin: 25px 0;  
    color: white;
}*/
#footer p   {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 25px; 
    margin: 5px 500px 5px;

    color: white;
    text-align: center;
    font-family:Cambria;
    font-size: 16px;
    background-color: rgb(29,29,29);
    border-radius: 30px;
    border: none;
   box-shadow: 6px 9px 6px -7px rgba(0, 0, 0, 0.75);

    padding: 3px 8px;

       
}

#loginBtn {
    background: #76b852; /* old browsers */
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852); /* Chrome , Safari */
    background: linear-gradient(to right, #8DC26F, #76b852); /* Edge, Firefox*/
}

#signupBtn {
background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
}

#forgotPassword {
    color: #333;

}
#credits {
    position: absolute;
    top: 100%;
    right: 0%;
    

    color: white;
    font-family: Cambria;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-align: end;
    background-color: rgb(29,29,29);
    border-radius: 0px 0px 0px 900px;
    box-shadow: 6px 9px 6px -7px rgba(0, 0, 0, 0.75) ;

    padding: 5px 8px;
    display: inline-block;
    width: 180px;
    height: 25px;
}

